.create-blog-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f48429;
}

.blog-form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.page-title {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f48429;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #d66609;
}
